<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Firas_Shopfinder::add_row" title="Shopfinder" sortOrder="51">
                </resource>
                <resource id="Firas_Shopfinder::grid_list" title="Shopfinder" sortOrder="51">
                </resource>
                <resource id="Firas_Shopfinder::row_data_delete" title="Shopfinder" sortOrder="51">
                </resource>
                <resource id="Firas_Shopfinder::save" title="Shopfinder" sortOrder="51">
                </resource>
            </resource>
        </resources>
    </acl>
</config>
